<div class="requests">
 <% if params[:q] == "all" %>
    <%= render "my_books" %>
  <% elsif params[:q] == "completed" %>
    <%= render "shared/completed_bookings" %>
     <% elsif params[:q] == "reviews" %>
      <%= render "shared/my_reviews" %>
  <% else %>
      <%= render "my_requests" %>
    <%= render "my_books_requests" %>
  <% end %>
</div>
