<div class="booking-outgoing-requests">
  <h2 class="text-center pb-5"> Your booking requests:</h2>
    <% @all_books.each do |book| %>
        <% @my_bookings.where(book_id: book.id, status: "pending").each do |booking| %>
          <div class="card-product">
            <img src=<%= book.photo_url %> />
            <div class="card-product-infos">
              <h2><%= "#{book.title} - Current status: #{booking.status}" %></h2>
              <p>Price: <%= booking.price %> €</p>
              <p>From: <%= booking.start_date %></p>
              <p>Until: <%= booking.end_date %></p>
              <p>Owner: <%= @users.find(book.user_id).user_name %></p>
            </div>
          </div>
        <% end %>
    <% end %>
</div>
