<h1>Book page</h1>
<h2><%= "#{@book.title} - added by #{@book.user.user_name}" %></h2>
<h3> <%= @book.author %></h3>
<p><%= @book.description %></p>
<p><%= "Suggested price: #{@book.suggested_price} per day. " %></p>
<%= link_to "Edit this book",  edit_book_path(@book) %>
<%= link_to "Delete this book", book_path(@book), method: :delete, data: { confirm: "Are you sure?"}  %>
