<div class="container">

  <div class="row">

    <div class="col-12 col-lg-8">
      <h2><%= "#{@book.title}"%></h2>
      <h5> Author: <%= @book.author %></h5>
      <p> Description: <%= @book.description %></p>
    </div>

    <div class="col-12 col-lg-4">
      <%= image_tag @book.photo_url unless @book.photo_url.nil? %>
      <p><%= "Suggested price: #{@book.suggested_price} per day. " %></p>
    </div>

    <div class="d-flex justify-content-between">
      <%= link_to "#{book.user.user_name}", book_path(@book)  %>
      <%= link_to "Delete this book", book_path(@book), method: :delete, data: { confirm: "Are you sure?"}  %>
      <%= link_to "Edit this book",  edit_book_path(@book) %>
    </div>

  </div>
</div>
